<main class="page cv-page">
    <section class="portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">Work Experience</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Test Engineer Intern</h3><span class="badge rounded-pill bg-primary">Ceridian HCM
                                Inc</span>
                        </div>
                        <div class="col-md-6"><span class="text-muted period">09/2023 - 01/2024</span></div>
                    </div>
                    <p>Developed automation tests using SpecFlow to enhance testing efficiency. Collaborated with the
                        development team to identify, report, and troubleshoot software defects.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6">
                            <h3>Programmer</h3><span class="badge rounded-pill bg-primary">B-Right Software</span>
                        </div>
                        <div class="col-md-6"><span class="text-muted period">10/2021 - 02/2023</span></div>
                    </div>
                    <p>Designed and developed automated processes using Python, resulting in increased efficiency and
                        productivity. Utilized Python to automate processes in both Windows and Linux environments,
                        reducing the time required for routine tasks by 30%.</p>
                </div>
            </div>
            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Education</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Bachelor of Computer Science</h3><span class="badge rounded-pill bg-success">Lakehead
                                University</span>
                        </div>
                        <div class="col-6"><span class="text-muted period">05/2024 - Present</span></div>
                    </div>
                    <p>Currently pursuing a Computer Science Bachelors Degree at Lakehead University.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Computer Programming Diploma (CMPG)</h3><span
                                class="badge rounded-pill bg-success">Georgian College</span>
                        </div>
                        <div class="col-6"><span class="text-muted period">09/2022 - 04/2024</span></div>
                    </div>
                    <p>Completed Computer Programming Co-op Diploma at Georgian College.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>High School Diploma</h3><span class="badge rounded-pill bg-success">Richmond Hill High
                                School</span>
                        </div>
                        <div class="col-md-6"><span class="text-muted period">08/2018 - 06/2022</span></div>
                    </div>
                    <p>Completed High School Diploma at Richmond Hill High School.</p>
                </div>
            </div>

            <div class="group">
                <div class="row">
                    <div class="border rounded border-0 contact-info portfolio-info-card">
                        <h2>Contact Info</h2>
                        <div class="row">
                            <div class="col-auto"><i class="icon ion-android-calendar icon"></i></div>
                            <div class="col-9"><span>11/22/2004</span></div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><i class="icon ion-person icon"></i></div>
                            <div class="col-9"><span>Daniel Yevtushenko</span></div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><i class="icon ion-ios-telephone icon"></i></div>
                            <div class="col-9"><span>(437)-216-6742</span></div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><i class="icon ion-at icon"></i></div>
                            <div class="col-9"><span>yevtushenkodan04@gmail.com</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hobbies group">
                <div class="heading">
                    <h2 class="text-center">Hobbies</h2>
                </div>
                <p class="text-center text-muted">In my free time, I enjoy exploring new technologies and experimenting
                    with different coding languages to broaden my skill set. I also have a passion for outdoor
                    activities such as hiking and cycling, which help me recharge and stay focused.</p>
            </div>

        </div>
    </section>
</main>