<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;/images/avatars/avatar.jpg&quot;);"></div>
            <div class="about-me">
                <p>Hello! I am <strong>Daniel Yevtushenko,&nbsp;</strong>a diligent software developer committed to
                    building secure, high-performance solutions that enhance user experiences. With expertise in
                    multiple programming languages and a passion for problem-solving, I excel at transforming challenges
                    into polished software solutions.</p><a class="btn btn-outline-primary" role="button"
                    href="mailto:yevtushenkodan04@gmail.com">Hire
                    me</a>
            </div>
        </div>
    </section>
    <section class="portfolio-block skills">
        <div class="container">
            <div class="heading">
                <h2>Technical Expertise</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-code"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Software Development</h3>
                            <p class="card-text">Proficient in Java, C#, Python, and JavaScript, with a deep
                                understanding of core business processes, architecture patterns, and technology
                                strategies. Skilled in writing clean, efficient code and evaluating new technologies for
                                their impact on processes and risk.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-settings"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Technical Analysis</h3>
                            <p class="card-text">Experienced in conducting independent analysis to resolve strategic
                                issues, decomposing business requirements into detailed design specifications, and
                                diagnosing and resolving production issues. Skilled in assessing costs and benefits of
                                different solutions and recommending appropriate designs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-cloud"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Cloud Computing</h3>
                            <p class="card-text">Familiarity with cloud computing platforms such as AWS, Azure, or GCP,
                                along with understanding of their architectures and services. Proficient in deploying
                                and managing applications in cloud environments to ensure scalability, reliability, and
                                security.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>