<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}} - Daniel Yevtushenko</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark">
        <div class="container"><a class="navbar-brand logo" href="/">Daniel Yevtushenko</a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cv">CV</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer class="page-footer py-3 border-top">
        <div class="container my-4">
            <div class="links"><a href="mailto:yevtushenkodan04@gmail.com">Contact me</a><a
                    href="/projects">Projects</a></div>
            <div class="social-icons"><a class="me-3" href="https://www.linkedin.com/in/daniel-yevtushenko"><i
                        class="icon ion-social-linkedin"></i></a><a class="me-3"
                    href="https://leetcode.com/u/q2fdrzBFlp/"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                        height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icon-tabler-brand-leetcode">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 13h7.5"></path>
                        <path d="M9.424 7.268l4.999 -4.999"></path>
                        <path
                            d="M16.633 16.644l-2.402 2.415a3.189 3.189 0 0 1 -4.524 0l-3.77 -3.787a3.223 3.223 0 0 1 0 -4.544l3.77 -3.787a3.189 3.189 0 0 1 4.524 0l2.302 2.313">
                        </path>
                    </svg></a><a class="me-3" href="https://github.com/insertusernamed"><i
                        class="icon ion-social-github"></i></a></div>
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>